.cell-soe{
    padding:8px;
    color:black;
    font-weight:600;
    outline: 2px solid black;
    display: inline-block;
    margin-bottom:1px;
    margin-right:1px;
    width: 25px;
    height: 25px;
}

.soe-grid{
    margin-left:50px;
    margin-top:30px;
}