.heading {
    background-color: rgb(32, 35, 48);
    height: 70px;
    padding-top: 10px;
    color: white;
}

.row {
    margin-top: 20px;
    border: none;
}

#logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    animation: fill 1s ease forwards 1s;
}

#logo path:nth-child(1){
    stroke-dasharray: 155;
    stroke-dashoffset: 155;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 259;    
    stroke-dashoffset: 259;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray: 367;
    stroke-dashoffset: 367;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(4){
    stroke-dasharray: 212;
    stroke-dashoffset: 212;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(5){
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(6){
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(7){
    stroke-dasharray: 176;
    stroke-dashoffset: 176;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(8){
    stroke-dasharray: 244;
    stroke-dashoffset: 244;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(9){
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(10){
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(11){
    stroke-dasharray: 259;
    stroke-dashoffset: 259;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(12){
    stroke-dasharray: 104;
    stroke-dashoffset: 104;
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}