.sudoku-cell{
    padding:15px;
    color:black;
    font-weight:600;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin-bottom:1px;
    margin-right:1px;
    width: 25px;
    height: 25px;
}

.sudoku-grid{
    margin:auto;
    margin-top:150px;
    margin-left:30%;
    margin-bottom:150px;
}

.rowcell{
    border-top:3px solid rgb(175, 216, 248);
    border-left:3px solid rgb(175, 216, 248);
}

.row{
    border-top:3px solid rgb(175, 216, 248);
}

.cell{
    border-left:3px solid rgb(175, 216, 248);
}

.crcc{
    border-bottom:3px solid rgb(175, 216, 248);
    border-right:3px solid rgb(175, 216, 248);
}

.cc{
    border-right:3px solid rgb(175, 216, 248);
}

.cr{
    border-bottom:3px solid rgb(175, 216, 248);
}

.rowright{
    border-right:3px solid rgb(175, 216, 248);
    border-top:3px solid rgb(175, 216, 248);
}

.bottomcell {
    border-bottom:3px solid rgb(175, 216, 248);
    border-left:3px solid rgb(175, 216, 248);
}

.completed {
    animation-name: sudokuAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes sudokuAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(177, 231, 133, 0.75);
      border-radius: 100%;
      color:black;
    }
  
    50% {
      background-color: rgba(140, 228, 99, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(126, 238, 81, 0.45);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(109, 241, 109);
      color:rgb(44, 43, 43);
    }
  }