.tnode {
    width: 25px;
    height: 24px;
    outline: 0px solid rgb(175, 216, 248);
    display: inline-block;
    margin:-1.8px -0.2px;
  }
  
  .treeNode{
    width: 25px;
    height: 24px;
    display: inline-block;
    border-radius:50%;
    color:white;
    background-color: yellowgreen;
  }

  .svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-50;
  }