.draw-graph {
    margin-right:15px;
    margin-left:15px;
    border: 2px solid gray;
}

.graph-node {
    width: 25px;
    /* border: 0.1px solid rgb(245, 244, 244); */
    height: 25px;
    z-index: 1;
}

.graph-node-visible {
    background-color: green;
    border: 1px solid green;
    border-radius: 50%;
    animation: anim-node 0.4s ease-in;
}

.graph-node-input {
    z-index: 50;
    border: none !important;
    outline: none !important;
    background: none !important;
    color: white !important;
    max-width: 24px;
    text-align: center;
    font-size: 10px;
}

@keyframes create-node {
    0%{
        transform: scale(1.1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes anim-node {
    0% {
        transform: translateY(-500px);
    }
    85% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.controls {
    display: flex;
}

.controls .field {
    flex: 0.25;
    padding: 20px;
}