.draw-graph {
    margin-right:15px;
    margin-left:15px;
    border-radius: 10px;
    background-color: #d0d0d073;
    padding:20px;
    cursor: pointer;
}

.graph-node {
    width: 25px;
    /* border: 0.1px solid rgb(245, 244, 244); */
    height: 25px;
    z-index: 1;
    color: white !important;
    font-size: 80%;
}

.graph-node-visible {
    /* background-color: rgb(55, 212, 55);
    border: 1px solid rgb(55, 212, 55); */
    border-radius: 50%;
    background: linear-gradient(145deg, #fbbd08, #ff7300);
    box-shadow: 2px 2px 5px 1px #bebebe, -2px -2px 5px 1px #ffffff;
    animation: create-node 0.4s ease-in;
}

.graph-node-input {
    border: none;
    outline: none !important;
    background: none !important;
    max-width: 40px;
    min-height: 10px;
    text-align: center;
    font-size: 20px;
}

@keyframes create-node {
    0%{
        transform: scale(1.1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes anim-node {
    0% {
        transform: translateY(-500px);
    }
    85% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.controls {
    display: flex;
}

.controls .field {
    flex: 0.25;
    padding: 20px;
}

.svg-line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 1.6s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.popup-element {
    z-index: 100 !important;
}

@keyframes bg-fade-anim {
    0% {
        background-color: green;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color:  rgb(55, 212, 55);
    }
}

/*
    Add svgs
    use toggle buttons
    inset shadow for workspace
    pop over each node : colors/value
    neumorphic ui
    font: roboto
*/